.app-div {
    position: relative;
}

.dark-blue-button {
    background-color: #2685C6;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 120px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 11px;
}