.home-div {
    background-color: white;
    height: 1840px;
    width: 1600px;
    padding-bottom: 60px;
}

#info1-container {
    background-color: white;
    height: 430px;
    width: 1600px;
    padding-top: 0px;
}

#info1 {
    height: 430px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
}

#info1-text {
    width: 500px;
    padding-top: 40px;
}

.info-title {
    color: #323232;
    font-size: 22px;
    line-height: 30px;
}

.info-subtext {
    color: #6b6a6a;
    font-size: 11px;
    padding-bottom: 10px;
}

#info1-text ul {
    margin: 0;
    padding: 0;
    list-style: inside;
}

#info1-text li {
    font-size: 8px;
}

#info1-text li span {
    color: #271f1f;
    font-size: 11px;
    text-decoration: none;
    line-height: 25px;
}

#office-img {
    height: 310px;
    width: 510px;
    padding: 60px 0px 0px 60px;
}

#info2-container {
    background-image: url("../../img/shutterstock_1302552622.jpg");
    background-position-y: 10%;
    background-size: 1600px auto;
    height: 425px;
    width: 1600px;
    padding-top: 0px;
}

#info2 {
    height: 425px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
}

#info2-text-container {
    height: 305px;
    width: 510px;
    background-color: #635B59;
    margin-top: 60px;
}

#info2-text {
    height: 255px;
    width: 455px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#info2-title, #info2-subtext {
    color: inherit;
}

#info2-login {
    background-color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 120px;
    color: #2685C6;
    font-weight: bold;
    margin-top: 10px;
    font-size: 11px;
}

#info3-container {
    background-color: white;
    height: 540px;
    width: 1600px;
}

#info3 {
    height: 540px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

#info3-title {
    margin: 0px;
}

#info3-subtitle {
    margin: 5px 0px 20px 0px;
    font-weight: bold;
}

#info3-text-container {
    height: 300px;
}

#info3-text {
    height: 300px;
    column-count: 3;
    column-width: 350px;
}

#info3-subtext p {
    text-align: left;
}

#opening-paragraph {
    font-weight: bold;
}
