.contact-div {
    background-color: white;
    height: 930px;
    width: 1600px;
}

.contact-content {
    padding: 50px 250px 0px 250px;
    width: 520px;
}

#title {
    font-size: 20px;
    padding-bottom: 10px;
}

p {
    font-size: 12px;
    line-height: 20px;
}
