.inlineInputs {
    display: flex;
    flex-direction: row;
}

#fullName, #emailAddress {
    height: 40px;
    width: 240px;
    font-size: 100%;
}

form input, textarea {
    display: block;
    margin: 10px 20px 10px 0px;
}

#phoneNumber, #companyName {
    height: 40px;
    width: 510px;
    font-size: 100%;
}

#message {
    height: 130px;
    width: 510px;
    font-size: 100%;
}

#includeAddressDetails {
    margin: 0px;
}

#addAddressDetails {
    margin: 10px 20px 10px 10px;
}

#addressLine1, #addressLine2 {
    height: 40px;
    width: 240px;
}

#cityOrTown, #stateOrCounty, #postcode, #country {
    height: 40px;
    width: 110px;
}

.form-success {
    background-color: #E9F4DA;
    height: 160px;
    width: 510px;
    border-radius: 5px;
    text-align: center;
}

#success-content {
    padding-top: 30px;
}

.circle {
    background-color: #8EC73D;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

#valid-tick {
    height: 25px;
    width: 25px;
    padding-top: 8px;
}

#success-title {
    font-size: 16px;
}

#success-subtitle {
    padding-top: 5px;
    font-size: 12px;
    font-weight: lighter;
}

#errors {
    background-color: #F2DEDE;
    border-radius: 5px;
    padding: 3px 0px 3px 10px;
    color: rgb(194, 83, 68);
    margin-bottom: 10px;
}