.navbar {
    width: 1600px;
    height: 60px;
    border-bottom: 2px solid rgb(221, 220, 220);
}

img {
    height: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 250px 0px 250px;
    overflow: hidden;
    background-color: white;
    display: flex;
}

ul li:first-child {
    margin-right: auto;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
