.carousel-div {
    height: 440px;
    width: 1600px;
    color: white;
}

.swiper-button-prev, .swiper-button-next {
    background-image: url("../../img/Icon_Arrow.svg") !important;
    background-size: 10px !important;
    height: 40px !important;
    width: 40px !important;
    background-color: rgba(245, 237, 235, 0.3);
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    transform: rotate(180deg);
    right: 0 !important;
}
